<div>
  <div align="center">
    <h1>User Search Results</h1>
    <h4>Total users found: {{ users_count }}</h4>
    {% if query %}
      <p>Search query: {{ query }}</p>
    {% endif %}
  </div>
  <div align="right">
    <h3 ><a href="{{ 'users' | route }}">Back</a></h3>
</div>
  <div align="center">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>UUID</th>
          <th>Name</th>
          <th>Gender</th>
          <th>Age</th>
          <th>Location</th>
          <th>Created At</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.uuid }}</td>
            <td>{{ user.name | escape }}</td>
            <td>{{ user.gender }}</td>
            <td>{{ user.age }}</td>
            <td>{{ user.location | escape }}</td>
            <td>{{ user.created_at | date: "%Y-%m-%d %H:%M" }}</td>

            <td>
              <a href="#" class="delete-user" data-uuid="{{ user.id }}">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<script>
  $(document).ready(function() {
    $('.delete-user').on('click', function(event) {
      event.preventDefault();
      const userUuid = $(this).data('uuid');
      deleteUser(userUuid);
    });

    function deleteUser(userId) {
      // AJAX request to delete user
      $.ajax({
        url: `/users/${userId}`,
        type: 'DELETE',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
        },
        success: function(response) {
          console.log('User deleted successfully');
          location.reload();
          // You may want to update the UI, e.g., remove the deleted row
        },
        error: function(error) {
          console.error('Failed to delete user');
        }
      });
    }
    $('#searchButton').on('click', function() {
      const searchTerm = $('#searchInput').val();
      searchUsers(searchTerm);
    });

    function searchUsers(searchTerm) {
      // AJAX request to search users
      $.ajax({
        url: '/users/search',
        type: 'GET',
        data: { search: searchTerm },
        success: function(response) {
          // Handle the response, update the UI with the search results
          // console.log('Search successful:', response);
        },
        error: function(error) {
          console.error('Failed to search users');
        }
      });
    }
  });

</script>